body {
    background-image: url("avatars-000647847507-77bgte-t500x500.jpg");
    background-color: rgb(243, 235, 237);
}
h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(204, 88, 179);
}